@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input {
  caret-color: transparent;
  cursor: default;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  padding-left: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-200;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
